.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url('../images/bg.jpg');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.logo{
  width: 300px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
   color: #fff;
}
.marketing p + h4 {
  margin-top: 28px;
}

.error-message{
  padding-top:5px;
  margin-top: 5px;
  text-align: center;
  color: #ecf0f1;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    min-width: 800px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.login{
    margin-top: 20%;
    padding: 15px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
  }
  .login input[type="text"],
  .login input[type="password"]{
      background: rgba(255,255,255,0.2);
      color: #fff;
  }
  .login img{
    margin-left: 200px;
  }
  .login-btn{
      width: 100%;
      height: 35px;
      border-radius: 5px;
      border: none;
      background: rgba(30, 130, 76,0.5);
      color: #fff;
  }
  .page{
    min-height: 550px;
  }
  .navbar{
     background: rgba(255,255,255,0.2);
     border:none;
  }
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-brand{
     color: rgba(236, 240, 241,1.0);
  }
  .page-main{
     background: rgba(255,255,255,0.2);
     color: #fff;
     border-radius: 5px;
  }
  .custom-btn{
      padding:5px 8px; 
      border-radius: 5px;
      border: none;
      background: rgba(30, 130, 76,1);
      color: #fff;
  }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  button:focus,
  .form-control:focus,
  .uneditable-input:focus {   
    border-color: rgba(30, 130, 76,0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
  }
  .modal-content{
     background: rgba(255,255,255,1.0);
  }
  .page-head{
    background: rgba(255,255,255,0.2);
    color: #fff;
    border-radius: 5px;
    max-height: 200px;
    padding: 1%;
    margin-bottom: 20px;
  }

/*Animations*/

.error-message.ng-leave {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 1;
}
.error-message.ng-leave-active {
  opacity: 0;
}

.welcome-page.ng-enter {
  transition: 1s linear all;
  transform : translateX(40%);
  opacity:0;
}

.welcome-page.ng-enter.ng-enter-active {
  transform : translateX(0);
  opacity:1;
}