<toaster-container></toaster-container>
<div class="page welcome-page" ng-if="vm.show">
  <div class="jumbotron">
    <h2>'Welcome, {{ vm.user.firstName }}!</h2>
    <p class="lead">
      <img src="images/sport-logo.png" alt="sport-logo" class="logo"><br>
      Always a pleasure to have you here.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
</div>

