<div class="custom-modal">
<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Event Details</h5>
</div>
<div class="modal-body col-md-12" id="modal-body">
	<div class="well">
		<form name="eventForm">
			<div class="row">
	    		<div class="form-group col-md-6">
		    		<label>Sport:</label>
		    		<select class="form-control" ng-model="vm.eventObject.sport" ng-options="sport as sport.description for sport in vm.sports track by sport.sportId">
		    			<option value="">--Choose Sport--</option>
		    		</select>
		    	</div>
	    	</div>
			<div class="row">
				<div class="form-group col-md-6">
		    		<label>Home Team:</label>
		    		<select class="form-control" ng-model="vm.eventObject.homeTeam" ng-options="team as team.description for team in vm.teams track by team.teamId">
		    			<option value="">--Choose Home Team--</option>
		    		</select>
		    	</div>
		    	<div class="form-group col-md-6">
		    		<label>Away Team:</label>
		    		<select class="form-control" ng-model="vm.eventObject.awayTeam" ng-options="team as team.description for team in vm.teams track by team.teamId">
		    			<option value="">--Choose Away Team--</option>
		    		</select>
		    	</div>
			</div>
	    	<div class="row">
	    		<div class="form-group col-md-6">
		    		<label>Kick Off:</label>
		    		<p class="input-group">
			          <input type="text" class="form-control" uib-datepicker-popup="{{vm.dateFormat}}" ng-model="vm.eventObject.kickOff" is-open="vm.opened1" datepicker-options="vm.dateOptions" ng-required="true"/>
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('kickoff')"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
		    	</div>
		    	<div class="form-group col-md-6">
		    		<label>End Date:</label>
		    		<p class="input-group">
			          <input type="text" class="form-control" uib-datepicker-popup="{{vm.dateFormat}}" ng-model="vm.eventObject.endDate" is-open="vm.opened2" datepicker-options="{ minDate: vm.eventObject.kickoff }" ng-required="true"/>
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('enddate')"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
		    	</div>
	    	</div>
	    	<div class="row">
	    		<div class="form-group col-md-6">
		    		<label>Home Score:</label>
		    		<input type="number" class="form-control" ng-model="vm.eventObject.homeScore">
		    	</div>
		    	<div class="form-group col-md-6">
		    		<label>Away Score:</label>
		    		<input type="number" class="form-control"ng-model="vm.eventObject.awayScore">
		    	</div>
	    	</div>
	    </form>
	</div>
</div>
<div class="modal-footer">

    <button class="btn custom-btn" type="button" ng-click="vm.submit()" ng-disabled="(eventForm.$invalid && !eventForm.$pristine) || eventForm.$pristine"><span class="glyphicon glyphicon-ok"></span>&nbspSave</button>
    <button class="custom-btn" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
</div>
