<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">iContent</a>
    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/">Home</a></li>
        <li><a ui-sref="event-list">Events</a></li>
      </ul>
       <ul class="nav navbar-nav pull-right">
          <li><a href="#" ng-click="vm.signOut()">SignOut</a></li>
       </ul>
    </div>
  </div>
</div>