<div class="page">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 centered">
			<div class="login">	
				<img src="images/yeoman.png" alt="I'm Yeoman">
					<form name="loginForm">
						<div class="form-group">
							<label>Username:</label>
							<input type="text" name="username" class="form-control" ng-model="vm.user.username">
							<small></small>
						</div>
						<div class="form-group">
							<label>Password:</label>
							<input type="password" name="password" class="form-control" ng-model="vm.user.password">
							<small></small>
						</div>
						<button class="login-btn" ng-click="vm.validateCredentials()"><span class="glyphicon glyphicon-user"></span> Login</button>	
					</form>
					<div class="error-message" ng-if="vm.invalidUser">
						<b>{{vm.errorMessage}}</b>
					</div>
			</div>	
		</div>
	</div>
</div>

