<div class="page">
	<toaster-container></toaster-container>
	<div class="page-head row">
		<form class="form-inline">
			<div class="col-xs-6">
				<button class="custom-btn" ui-sref="event-modal({ event: {} })">Create New Event</button>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
				    <label for="search">Search by:</label>
				    <select class="form-control" ng-model="vm.searchBy">
						<option value="sport">Sport</option>
						<option value="hometeam">Home</option>
						<option value="awayteam">Away Team</option>
					</select>
				 </div>
				<div class="form-group">
					<label for="search">Search:</label>
				    <input type="text" class="form-control" ng-model="vm.searchInput">
				 </div>
			</div>
		</form>
	</div>
	<div class="page-main">
		<table class="table">
			<thead>
				<th>ID</th>
				<th>Sport</th>
				<th>Home Team</th>
				<th>Away Team</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Final Score</th>
			</thead>
			<tbody>
				<tr ng-repeat="event in vm.events | filter: vm.search">
					<td>{{event.id}}</td>
					<td>{{event.sport.description}}</td>
					<td>{{event.homeTeam.description}}</td>
					<td>{{event.awayTeam.description}}</td>
					<td>{{event.kickOff | date:'MMMM dd, yyyy'}}</td>
					<td>{{event.endDate | date:'MMMM dd, yyyy'}}</td>
					<td>{{event.homeScore}} - {{event.awayScore}}</td>
					<td>
						<button class="custom-btn" ui-sref="event-modal({event: event})"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="custom-btn" ng-click="vm.deleteEmployee(event.id)"><span class="glyphicon glyphicon-remove"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>